.nav-wrapper {
    display: flex;
    background: #333;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    color: white;
    font-size: 0.9rem;
  }

.nav-link a {
    color: white;
    text-decoration: none;
  }

  .nav-link a:hover {
      color: lightgrey;
  }

  .nav-link a .active {
      color: lightgrey;
  }

.subnav-wrapper {
    display: flex;
    background: whitesmoke;
    justify-content: space-evenly;
    min-height: 125px;
}

.sublink-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    padding: 15px 0;
}

.sublink-wrapper p {
    margin-bottom: 3px;
}